<!doctype html>
<html lang=''>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="script.js"></script>
  <title>Power Project</title>
</head>
<body>
  <div id='logo'>

    <p id="slogan">Home of the power puff girls.</p>

  </div>


  <div id='menu-wrapper'>
    <div id='cssmenu'>
      <ul>
        <li ><a href='../home/index'>Home</a></li>
        <li class='active'><a href=''>Signup</a></li>
        <li><a href='../set_lifts/'>SETLIFTS</a></li>
        <li><a href='#'>VIEWPROGRAM</a></li>
      </ul>
    </div>
  </div>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "error alert-info" %>
  <% end %>
  <div id="center-col">
    <div class="col-md-10 col-md-offset-5">
      <div style="padding-bottom:3px;">
        <h3>Create New User</h3>

        <%= form_for(:sign_ups, :url => {:action => 'create'}) do |f| %>

        <table summary="Subject form fields">
          <tr>
            <th>First Name</th>
            <td><%= f.text_field(:first_name) %></td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td><%= f.text_field(:last_name) %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= f.email_field(:email) %></td>

          </tr>
          <tr>
            <th>Password</th>
            <td><%= f.password_field(:password) %></td>
          </tr>
          <tr>
            <th>Password Conformation</th>
            <td><%= f.password_field(:password_confirmation) %></td>
          </tr>
        </table>
      </div>

      <div>
        <input class="btn btn-primary" name="commit" type="submit" value="Create User"/>
      </div>

      <% end %>
    </div>
  </div>
  <div id="footer">
    <%= link_to href: 'http://www.LinkedIn.com/' do %>
    <%= image_tag("LinkedIn.png", :alt => "LinkedIN", :class => "media") %>
    <% end %>
    <%= link_to href: 'http://www.Facebook.com/' do %>
    <%= image_tag("Facebook.png", :alt => "Facebook", :class => "media") %>
    <% end %>
    <%= link_to href: 'http://www.Twitter.com/' do %>
    <%= image_tag("Twitter.png", :alt => "Twitter", :class => "media") %>
    <% end %>

  </div>
</body>
</html>
