<!doctype html>
<html lang=''>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<title>Power Project</title>
<body>

  <div id='logo'>

    <p id="slogan">Home of the power puff girls.</p>

  </div>


  <div id="menu-wrapper">
    <div id='cssmenu'>
      <ul>
        <li class='active'><a href='#'>Home</a></li>
        <li><a href='../sign_ups/new'>Signup</a></li>
        <li><a href='#'>NothingYet</a></li>
        <li><a href='#'>AlsoNothing</a></li>
      </ul>
    </div>
  </div>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <div id="center-col">
    <div class="row">
      <div class="col-md-2 col-md-push-10" >
        <a class="twitter-timeline" href="https://twitter.com/MarkSmellyBell" data-widget-id="593650010450886657">Tweets by @MarkSmellyBell</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-md-8 col-md-pull-0">


        <div class="bs-example">
          <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <h2>Slide 1</h2>
                <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="item">
                <h2>Slide 2</h2>
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                </div>
              </div>
              <div class="item">
                <h2>Slide 3</h2>
                <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="footer">
    <%= link_to href: 'http://www.LinkedIn.com/' do %>
    <%= image_tag("LinkedIn.png", :alt => "LinkedIN", :class => "media") %>
    <% end %>
    <%= link_to href: 'http://www.Facebook.com/' do %>
    <%= image_tag("Facebook.png", :alt => "Facebook", :class => "media") %>
    <% end %>
    <%= link_to href: 'http://www.Twitter.com/' do %>
    <%= image_tag("Twitter.png", :alt => "Twitter", :class => "media") %>
    <% end %>

  </div>

</body>
<html>
