<!doctype html>
<html lang=''>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<title>Power Project</title>
<body>

  <div id='logo'>

    <p id="slogan">Home of the power puff girls.</p>

  </div>


  <div id="menu-wrapper">
    <div id='cssmenu'>
      <ul>
        <li><a href='../home/'>Home</a></li>
        <li><a href='../sign_ups/'>Signup</a></li>
        <li class='active'><a href='../set_lifts/'>SETLIFTS</a></li>
        <li><a href='#'>VIEWPROGRAM</a></li>
      </ul>
    </div>
  </div>

  <div id="center-col">

    <div class="col-md-10 col-md-offset-5">
      <div style="padding-bottom:3px;">
        <h3>Set Lifts</h3>

        <%= form_for(:set_lifts, :url => {:action => 'create'}) do |f| %>

        <table summary="Subject form fields">
          <tr>
            <th>Squat</th>
            <td><%= f.number_field(:Squat) %></td>
          </tr>
          <tr>
            <th>Bench</th>
            <td><%= f.number_field(:Bench) %></td>
          </tr>
          <tr>
            <th>Dead</th>
            <td><%= f.number_field(:Dead) %></td>
          </tr>
          <tr>
            <th>OHP</th>
            <td><%= f.number_field(:OHP) %></td>
          </tr>
          <tr>
            <th>id</th>
            <td><%= f.number_field(:sign_up_id, :value=>session[:user_id]) %></td>
          </tr>
        </table>
      </div>

      <div>
        <input class="btn btn-primary" name="commit" type="submit" value="Create User"/>
      </div>

      <% end %>
    </div>

  </div>

  <div id="footer">
    <%= link_to href: 'http://www.LinkedIn.com/' do %>
    <%= image_tag("LinkedIn.png", :alt => "LinkedIN", :class => "media") %>
    <% end %>
    <%= link_to href: 'http://www.Facebook.com/' do %>
    <%= image_tag("Facebook.png", :alt => "Facebook", :class => "media") %>
    <% end %>
    <%= link_to href: 'http://www.Twitter.com/' do %>
    <%= image_tag("Twitter.png", :alt => "Twitter", :class => "media") %>
    <% end %>

  </div>

</body>
<html>
