
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<div id="center-col">

  <div class="col-md-10 col-md-offset-5">
    <div style="padding-bottom:3px;">
      <h3>Set Lifts</h3>

      <%= form_for(:set_lifts, :url => {:action => 'create'}, :method=> 'post') do |f| %>

      <table summary="Subject form fields">
        <tr>
          <th>Squat</th>
          <td><%= f.number_field(:Squat) %></td>
        </tr>
        <tr>
          <th>Bench</th>
          <td><%= f.number_field(:Bench) %></td>
        </tr>
        <tr>
          <th>Dead</th>
          <td><%= f.number_field(:Dead) %></td>
        </tr>
        <tr>
          <th>OHP</th>
          <td><%= f.number_field(:OHP) %></td>
        </tr>
        <tr>
          <th>Program</th>
          <td>
            <%= f.select :program, [['5/3/1','5/3/1'],['Smolov Jr','jr'],['Starting Stength','ss']] %>
          </td>
        </tr>
        <tr>
          <th>id</th>
          <td><%= f.number_field(:sign_up_id, :value=>session[:user_id], :readonly => true) %></td>
        </tr>
      </table>
      <%= submit_tag("Set lifts") %>
    </div>
    <% end %>
  </div>

</div>
